# .gitignore

# Node (React)
node_modules/
.next/
dist/

# Python (Flask)
.venv/
__pycache__/
*.pyc
instance/
*.pkl

# VSCode
.vscode/

# Xournal Files
*.xopp

# Flask Session
flask_session/

# Environment variables
.env
.env.*