# Node (React)
node_modules/
build/
.env
.env.local
.next/

# Python (Flask)
env/
env/
__pycache__/
*.pyc
instance/
.env
*.pkl

# VSCode
.vscode/

# Xournal Files
*.xopp

# Flask Session
flask_session/